#intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("temp2intro.jpeg");
    background-size: 100%;
    height: 100%;
    background-position: center;
}
canvas{
  position: absolute;
  height: 100%;
  width: 100%;
}
/* #body {
background-image: url("tempintro.jpg")
} */
