#intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("temp2intro.jpeg");
    background-size: 100%;
    height: 100%;
    background-position: center;
}
canvas{
  position: absolute;
  height: 100%;
  width: 100%;
}
.container {
  position: absolute;
  background-color: white;
  width: 230px;
  height: 200px;
  top: 90px;
  left: 380px
}
.controls {
  position: absolute;
  top: 10px;
  left: 850px;
}
.instruc {
  
  background-color: blue;
  
}
/* #body {
background-image: url("tempintro.jpg")
} */
